@import url("https://fonts.googleapis.com/css2?family=Caesar+Dressing&family=Dancing+Script:wght@500&family=Poppins:wght@400;500&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  height: 100%;
  /* background-color: aqua; */
  background-color: burlywood;
  position: fixed;
}
a {
  text-decoration: none;
}
.nav {
  background-color: crimson;
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 80px;
  justify-content: space-between;
 
  top: 0;
}
.nav .logo {
  display: flex;
}
.nav .logo img {
  padding: 10px;
  width: 60px;
  height: 60px;
}
.nav .logo h3 {
  font-size: 40px;
  font-family: "Dancing Script", cursive;
  padding: 10px;
  text-align: center;
  color: white;
}
.nav .tags {
  padding: 20px;
  font-size: 20px;
}
.nav .tags a {
  color: white;
  font-family: "Poppins", sans-serif;
  justify-content: space-around;
  text-align: center;
  margin-right: 15px;
}
.nav .tags :hover {
  /* color: aqua; */
  background-color: blueviolet;
  border-radius: 4px;
  padding: 3px;
  transition-duration: 5ms;
  transition: ease-in-out;
}
.t {
  background-color: antiquewhite;
  height: 50px;
  border-radius: 20px;
  border: 3px solid goldenrod;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.t h2 {
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
}
.cont {
  height: auto;
  background-color: antiquewhite;
  margin: 20px;
  padding: 50px;
  border: 2px solid goldenrod;
  border-radius: 20px;
}
.cont .con1 {
  width: 100%;
 
  display: flex;
  justify-content: space-around;
  gap: 10px;
  margin-bottom: 30px;
}
.cont .con1 .box {
  height: 150px;
  width: 150px;
  padding: 10px;
  background-color: darkmagenta;
  display: flex;
  border-radius: 50px;

  align-items: center;
  justify-content: center;
}
.cont .con2 {
  width: 100%;

  display: flex;
  justify-content: space-evenly;
  gap: 10px;
}
.cont .con2 .box {
  height: 150px;
  width: 150px;
  padding: 10px;
  background-color: darkmagenta;
  display: flex;
  border-radius: 50px;
 
  align-items: center;
  justify-content: center;
}
.cont .con1 a {
  color: white;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
  
}
.cont .con2 a {
  color: white;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
}
.cont .con1 .box:hover{
  background-color: fuchsia;
  transition-duration: 5ms;
  transform: translate(10px, 10px);
  transition: ease-in-out;
  
}
.cont .con2 .box:hover{
  background-color: fuchsia;
  transition-duration: 5ms;
  transform: translate(10px, 10px);
  transition: ease-in-out;
  
}
.foot {
  bottom: 0;
  background-color: crimson;
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.foot h3 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  color: white;
  letter-spacing: 3px;
}
