@import url("https://fonts.googleapis.com/css2?family=Caesar+Dressing&family=Dancing+Script:wght@500&family=Poppins:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gemunu+Libre&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  height: 100%;
  background-color: antiquewhite;
}
a {
  text-decoration: none;
}
.nav {
  background-color: crimson;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.nav .logo {
  display: flex;
  gap: 10px;
}

.nav .logo i {
  text-align: center;
  color: bisque;
  font-size: 30px;

  padding: 8px;
}
.nav .logo h3 {
  color: bisque;
  font-size: 30px;
  font-family: "Poppins", cursive;
  text-align: center;
}
.nav .name {
  text-align: center;
  color: bisque;
  font-size: 20px;
  font-family: "Poppins", cursive;
}
.mail{
  margin: 100px;
  background-color: azure;
  padding: 20px;
  height: auto;
  border-radius: 20px;
  border: 3px solid goldenrod;
}
.mail h3{
    font-size: 30px;
    font-family: Poppins;
    margin-bottom: 30px;
}
.mail p{
    font-size: 17px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 20px;
    

}
.mail a{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    color:bisque;
    gap: 10px;
    background-color: crimson;
    width: 200px;
    border-radius: 20px;
    border: 2px solid goldenrod;
}