@import url("https://fonts.googleapis.com/css2?family=Caesar+Dressing&family=Dancing+Script:wght@500&family=Poppins:wght@400;500&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  height: 100%;
}
a {
  text-decoration: none;
  color: bisque;
}
.nav {
  top: 0;
  background-color: crimson;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
}
.nav .logo {
  display: flex;
}
.nav .logo img {
  padding: 10px;
  width: 60px;
  height: 60px;
}
.nav .logo h2 {
  font-size: 40px;
  font-family: "Dancing Script", cursive;
  padding: 10px;
  text-align: center;
  color: white;
}
.nav .tags {
  padding: 20px;
  font-size: 20px;
}
.nav .tags a {
  color: white;
  font-family: "Poppins", sans-serif;
  justify-content: space-around;
  text-align: center;
  margin-right: 15px;
}
.nav .tags :hover {
  color: crimson;
  background-color: bisque;
  border-radius: 4px;
  padding: 3px;
  transition-duration: 5ms;
  transition: ease-in-out;
}
.content {
  margin-top: 80px;
  height: 100vh;
  background: linear-gradient(
    90deg,
    rgb(46, 46, 50) 0%,
    rgba(101, 101, 105, 1) 100%
  );
}

.c {
  margin-left: 50px;
}
.content .c h1 {
  color: white;
  font-family: "Poppins", cursive;
  font-size: 50px;
  text-transform: capitalize;
  text-align: center;
  padding-top: 150px;
}
.content .c p {
  color: wheat;
  text-align: center;
  padding: 10px 60px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-bottom: 100px;
}
.content .c a {
  padding: 10px;

  border: 1px solid goldenrod;
  border-radius: 20px;
  font-family: "Poppins";
  text-transform: capitalize;
  letter-spacing: 1.5px;
  background-color: rgb(219, 9, 121);
  font-weight: 600;
  color: wheat;
}
.content .c a:hover {
  background-color: burlywood;
  color: crimson;
  border: 1px solid crimson;
  transition-duration: 5ms;
  transition: ease-in-out;
  transform: translate(10px, 10px);
}
.con1 {
  width: 100%;
  height: 100%;

  background-color: wheat;
}
.con1 h2 {
  text-align: center;
  font-size: 25px;
  font-family: "poppins";
}
.con1 .box {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
  align-items: center;
  justify-content: center;
}

.con1 .box .b1 {
  background-color: antiquewhite;
  border: 3px solid goldenrod;
  border-radius: 20px;
  padding: 10px;
  display: flex;
  width: 70%;
  margin-top: 30px;
}
.con1 .box .b1 img {
  height: 80px;
  width: 80px;
  padding: 50px 20px;
}
.con1 .box .b1 .m {
  display: flex;
  flex-direction: column;
}
.con1 .box .b1 .m h3 {
  text-transform: capitalize;
  font-family: "Caesar Dressing";
  text-decoration: underline;
  letter-spacing: 1px;
}
.con1 .box .b1 .m p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 18px;
  overflow-wrap: break-word;
}

.con1 .box .b2 {
  background-color: antiquewhite;
  border: 3px solid goldenrod;
  border-radius: 20px;
  padding: 10px;
  display: flex;
  flex-direction: row-reverse;
  width: 70%;

  margin-top: 30px;
  margin-bottom: 15px;
}
.con1 .box .b2 img {
  height: 80px;
  width: 80px;
  padding: 50px 20px;
}
.con1 .box .b2 .m {
  display: flex;
  flex-direction: column;
}
.con1 .box .b2 .m h3 {
  text-transform: capitalize;
  font-family: "Caesar Dressing";
  text-decoration: underline;
  letter-spacing: 1px;
}
.con1 .box .b2 .m p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 18px;
  overflow-wrap: normal;
}
.foot {
  background-color: crimson;
  color: bisque;
  padding: 10px;
}
.foot .logo {
  gap: 10px;
  margin-bottom: 20px;
}
.foot .logo img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 5px;
  background-color: bisque;
  border: 2px solid goldenrod;
}
.foot .logo h1 {
  font-family: "Dancing Script", cursive;
  font-weight: 1000;
}
.foot h3 {
  font-family: "Poppins";
  letter-spacing: 2px;
  font-size: 14px;
  text-align: center;
  color: white;
}
.foot .contact {
  text-align: center;
  font-size: 25px;
  margin: 20px;
}
.foot .contact h3 {
  font-size: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.foot .link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  font-size: 25px;
}
.foot .link i {
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid bisque;
  padding: 6px;
  margin-bottom: 20px;
}
.foot .link i:hover {
  border-radius: 50%;
  border: 2px solid crimson;
  background: bisque;
  color: crimson;
  padding: 6px;
}
