@import url("https://fonts.googleapis.com/css2?family=Caesar+Dressing&family=Dancing+Script:wght@500&family=Poppins:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gemunu+Libre&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  height: 100%;
}
a {
  text-decoration: none;
}
@media print {
  .noprint {
    display: none;
  }
  table {
    page-break-after: auto;
  }
  tr {
    page-break-inside: avoid;
    page-break-after: auto;
  }
  thead {
    display: table-header-group;
  }
  tfoot {
    display: table-footer-group;
  }
}

@media screen {
}
.nav {
  background-color: crimson;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.nav .logo {
  display: flex;
  gap: 10px;
}

.nav .logo i {
  text-align: center;
  color: bisque;
  font-size: 30px;

  padding: 8px;
}
.nav .logo h3 {
  color: bisque;
  font-size: 30px;
  font-family: "Poppins", cursive;
  text-align: center;
}
.nav .name {
  text-align: center;
  color: bisque;
  font-size: 20px;
  font-family: "Poppins", cursive;
}
.content {
  background-color: burlywood;
  margin: 50px;
  height: 230px;
  border: 3px solid goldenrod;
  border-radius: 20px;
}
.content h3 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: green;
  text-decoration: underline;
}
.content table {
  margin: 30px;
}
.content th {
  padding: 10px;
  color: crimson;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.content td {
  padding: 10px;
}
input {
  width: 200px;
  border: none;
  height: 25px;
  border-radius: 5px;
  padding: 3px;
}
button {
  width: 100px;
  height: 30px;
  background-color: crimson;
  border: 2px solid goldenrod;
  border-radius: 15px;
  font-family: Poppins;
  cursor: pointer;
}
img {
  width: 40px;
  height: 40px;
  padding: 5px;
}
.details {
  margin: 30px;
  background-color: aliceblue;
  height: 100%;
  height: auto;
}
.details table {
  margin: 30px;

  border-spacing: 5px 5px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.details tr {
  font-family: Poppins;
}
.details th {
  padding: 10px;
}
.details td {
  padding: 10px;
}
.details .report {
  background-color: whitesmoke;
  padding: 5px;
}
/* .details .report tr {

} */
.details .report th {
  text-align: center;
  background-color: rgb(222, 152, 61);
}
.details .report td {
  text-align: center;
  color: black;
  background-color: bisque;
}
