<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/addexpense.css">
    <script
    src="https://kit.fontawesome.com/17041f96e9.js"
    crossorigin="anonymous"
  ></script>
  <link
    rel="shortcut icon"
    href="https://cdn-icons-png.flaticon.com/512/218/218390.png"
    type="image/x-icon"
  />
    <title>Add Expense</title>
</head>
<body>
    <div class="nav">
        <div class="logo">
          <a href="/dashboard">  <i class="fas fa-arrow-left"></i></a>
            <h3>Add Expense</h3>
        </div>
        <form action="/add" method="post"> 

        <div class="name">
           
            <h3>{{ username}}</h3>
        </div>
    </div>
    <center>
    <div class="cont" align="center">
      <div class="logo">
        <i class="fas fa-folder-plus"></i>
      </div>
      <div class="profile">
        <h3 style="font-family: Poppins;text-decoration: underline;">Add new expense</h3>
        <h3 style="font-family: Poppins;">{{a}}</h3>
        <table>
          <tr>
            <th>Type:</th>
            <td>  <select id="paymode" name="paymode">
                <option value="chooseOne">Choose one...</option>
                <option value="Card">Card</option>
                <option value="Cash">Cash</option>
                <option value="Wallet">Wallet</option>
                <option value="Other">Other</option>
            </select></td>
          </tr>
          <tr>
            <th>Name:</th>
            <td><input type="text" name="expensename" id="expensename" placeholder="Enter the name of expense"></td>
          </tr>
          <tr>
            <th>Date:</th>
            <td><input type="date" id="expensedate" name="expensedate" placeholder="date"></td>
          </tr>
          <tr>
            <th>Category:</th>
            <td><select id="type" name="category" id="category" onchange="yesnoCheck(this);">
                <option id="noCheck" value="ChooseOne">Choose one...</option>
                <option id="noCheck" value="Food">food</option>
                <option id="noCheck" value="Entertainment">entertainment</option>
                <option id="noCheck" value="Business">business</option>
                <option id="noCheck" value="Rent">rent</option>
                <option id="noCheck" value="EMI">EMI</option>
                <option id="noCheck" value="Transportation">Transportation</option>
                <option id="noCheck" value="Medical">Medical</option>
                <option id="noCheck" value="Other" id="yesCheck">Other</option>
            </select></td>
          </tr>
          <tr id="ifYes" style="display: none">
            <th>Category:</th>
            <td>
              <input
                type="text"
                placeholder="Enter Category.."
                id="category"
                name="category"
              />
            </td>
          </tr>
          <tr>
            <th>Amount:</th>
            <td><input type="number" name="amount" id="amount" placeholder="Enter the amount"></td>
          </tr>
      
        </table>
        <!-- <span class="alert {{indicator}}">{{a}}</span> -->
        <button type="submit" ><a >Add Expense</a></button>
      </form>

    </div>
  </div>
</center>

    <!-- script for input  -->
    <script>
      function yesnoCheck(that) {
        if (that.value == "Other") {
          document.getElementById("ifYes").style.display = "table-row";
        } else {
          document.getElementById("ifYes").style.display = "none";
        }
      }
    </script>
    
</body>
</html>