<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <script
      src="https://kit.fontawesome.com/17041f96e9.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="shortcut icon"
      href="https://cdn-icons-png.flaticon.com/512/218/218390.png"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="/static/dashbord.css" />
  </head>
  <body>
    <div class="nav">
      <div class="logo">
        <img
          src="https://cdn-icons-png.flaticon.com/512/218/218390.png"
          alt="Wallet"
        />
        <a href="/index"> <h3>Wallet</h3></a>
      </div>
      <div class="tags">
        <a href="/index"><i class="fa-sharp fa-solid fa-house"></i>Home</a>
        <a href="/help"><i class="fa-solid fa-circle-info"></i>Help</a>
        <a href="/login"
          ><i class="fa-sharp fa-solid fa-right-from-bracket"></i>LogOut</a
        >
      </div>
    </div>
    <div class="t">
      <h2>Hello {{name}}, Welcome to your Dashboard 👋🏼</h2>
    </div>
    <div class="cont">
      <div class="con1">
        <div class="box">
          <a href="/profile">Profile</a>
        </div>
        <div class="box">
          <a href="/add">Add Expense</a>
        </div>
        <div class="box">
          <a href="/graph">Expense Chart</a>
        </div>
        <div class="box">
          <a href="/wallet">Wallet</a>
        </div>
      </div>
      <div class="con2">
        <div class="box">
          <a href="/report">Report</a>
        </div>
        <div class="box">
          <a href="/help">Help</a>
        </div>
        <div class="box">
          <a href="/login">Logout</a>
        </div>
      </div>
    </div>
    <div class="foot">
      <h3>--Footer--</h3>
    </div>
  </body>
</html>
