<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/17041f96e9.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <link
      rel="shortcut icon"
      href="https://cdn-icons-png.flaticon.com/512/218/218390.png"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="/static/graph.css" />
    <title>Report</title>
  </head>
  <body>
    <div class="nav">
      <div class="logo">
        <a href="/dashboard"> <i class="fas fa-arrow-left"></i></a>
        <h3>Expense Graph</h3>
      </div>
      <div class="name">
        <h3>{{name}}</h3>
      </div>
    </div>
    <div class="con">
      <div class="chart">
        <h3 style="font-family: Poppins;">Monthly Report</h3>
        <div class="box" align="center">
            <canvas id="myChart" style="width:100%;max-width:700px"></canvas>
        </div>
      </div>
      <div class="chart">
        <h3 style="font-family: Poppins;">Category Report</h3>
        <div class="box" align="center">
            <canvas id="myChart-1" style="width:100%;max-width:600px"></canvas>
      </div>
    </div>
    <!-- <div class="chart">
        <h3 style="font-family: Poppins;">Daily Report</h3>
        <div class="box" align="center">
            <canvas id="myChart-2" style="width:100%;max-width:600px"></canvas>
      </div>
    </div> -->






    <!-- script for bar chart -->

    <script>
      

      var data = JSON .parse('{{ tdata | tojson | safe}}');
      
       console.log(data);
       var mon = [];
       var vals = [];

      // val = data[1].MONTH;

      //   console.log(val);

      for(var i in data){
        mon.push(data[i].MONTH)
      }

      for(var i in data){
                vals.push(data[i].AMOUNT);
      }
    
        console.log(vals);
        console.log(mon);
      
        

        var barColors = ["red", "green","blue","orange","crimson","red", "green","blue","orange","crimson","red", "green","blue","orange","brown","red", "green","blue","orange","crimson","red", "green","blue","orange","crimson","red", "green","blue","orange","brown","red", "green","blue","orange","crimson","red", "green","blue","orange","crimson","red", "green","blue","orange","brown","red", "green","blue","orange","crimson","red", "green","blue","orange","crimson","red", "green","blue","orange","brown"];
        
        new Chart("myChart", {
          type: "bar",
          data: {
            labels: mon,
            datasets: [{
              backgroundColor: barColors,
              data: vals
            }]
          },
          options: {
            legend: {display: false},
            title: {
              display: true,
              text: "Monthly Report"
            }
          }
        });
        </script>


<!-- script for doughnut chart  -->
<script>

    var datat = JSON .parse('{{ data1 | tojson | safe}}');


   
    var xValues = [];
    var yValues = [];

    for(var i in datat){
        xValues.push(datat[i].CAT)
      }

      for(var i in datat){
                yValues.push(datat[i].AMT);
      }


    var barColors = [
      "#b91d47",
      "#00aba9",
      "#2b5797",
      "#e8c3b9",
      "#1e7145"
    ];
    
    new Chart("myChart-1", {
      type: "doughnut",
      data: {
        labels: xValues,
        datasets: [{
          backgroundColor: barColors,
          data: yValues
        }]
      },
      options: {
        title: {
          display: true,
          text: "Category Report"
        }
      }
    });
    </script>


<!-- script for graph  -->

<script>
    var xValues = [50,60,70,80,90,100,110,120,130,140,150];
    var yValues = [7,8,8,9,9,9,10,11,14,14,15];
    
    new Chart("myChart-2", {
      type: "line",
      data: {
        labels: xValues,
        datasets: [{
          fill: false,
          lineTension: 0,
          backgroundColor: "rgba(0,0,255,1.0)",
          borderColor: "rgba(0,0,255,0.1)",
          data: yValues
        }]
      },
      options: {
        legend: {display: false},
        scales: {
          yAxes: [{ticks: {min: 6, max:16}}],
        }
      }
    });
    </script>
    


  </body>
</html>
