<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="/static/index.js"></script>
    <script
      src="https://kit.fontawesome.com/17041f96e9.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="shortcut icon"
      href="https://cdn-icons-png.flaticon.com/512/218/218390.png"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="/static/index.css" />
    <title>Wallet</title>
  </head>
  <body>
    <section id="home">
      <div class="nav" id="nav">
        <div class="logo">
          <img
            src="https://cdn-icons-png.flaticon.com/512/218/218390.png"
            alt="Wallet png"
          />
          <h2>Wallet</h2>
        </div>
        <div class="tags">
          <a href="#home"></i>Home</a>
          <a href="#about">About</a>
          <a href="#help">Contact</a>
        </div>
      </div>
    </section>
    <section class="content" align="center" >
     
      <div class="c">
      
        <h1>Personel expense tracker</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio porro
          assumenda eum. Nemo numquam dolores molestias eum maxime quia est.
        </p>
        <a href="/login">Signin/Signup</a>
      </div>
    </section>
    <section class="con1" id="about">
      <h2>Features</h2>
      <div class="box">
        <div class="b1">
          <img
            src="https://cdn-icons-png.flaticon.com/512/218/218390.png"
            alt="nothing"
          />
          <div class="m">
            <h3>Add Expense</h3>
            <br />
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo vero vitae incidunt eos voluptatum debitis et id sint harum reiciendis.


            </p>
          </div>
        </div>
        <div class="b2">
          <img
            src="https://cdn-icons-png.flaticon.com/512/218/218390.png"
            alt="nothing"
          />
          <div class="m">
            <h3>Graph</h3>
            <br />
            <p>
             Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum impedit, non voluptas magni hic quo eos. Sunt accusantium alias quasi.
            </p>
          </div>
        </div>
        <div class="b1">
          <img
            src="https://cdn-icons-png.flaticon.com/512/218/218390.png"
            alt="nothing"
          />
          <div class="m">
            <h3>Report</h3>
            <br />
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut pariatur illo neque est eius maiores itaque commodi reprehenderit, dicta suscipit.
            </p>
          </div>
        </div>
        <div class="b2">
          <img
            src="https://cdn-icons-png.flaticon.com/512/218/218390.png"
            alt="nothing"
          />
          <div class="m">
            <h3>E-Mail</h3>
            <br />
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab explicabo ipsum enim, repellendus mollitia eaque! Beatae quibusdam molestiae perspiciatis sed!
            </p>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <center>
      <div class="foot" id="help">
        <div class="logo" >
          <img src="https://cdn-icons-png.flaticon.com/512/218/218390.png" alt="">
          <h1>Wallet</h1>
        </div>
        <div class="contact" align="center">
          <h3>Contact us</h3>
          
        </div>
          <div class="link">
           <a href="https://github.com/IBM-EPBL/IBM-Project-30460-1660146931"> <i class="fab fa-github"></i></a>
           <a href = "mailto:team.personelexpensetracker@gmail.com?subject = Feedback & body = Message"><i class="fas fa-envelope"></i></a>
           <a href="https://www.linkedin.com/in/jeffrey-daniel-120801252"><i class="fab fa-linkedin-in"></i></a>
          </div>


        <h3 style="width:100%;bottom: 0;">--  Copyright © NILL --</h3>

      </div>
    </center>
    </footer>
  </body>
</html>
