<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script
      src="https://kit.fontawesome.com/17041f96e9.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="shortcut icon"
      href="https://cdn-icons-png.flaticon.com/512/218/218390.png"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="/static/style.css" />
    <title>Login</title>
  </head>
  <body>
    <div class="nav">
      <div class="logo">
        <a href="/index"> <i class="fas fa-arrow-left"></i></a>
        <h3>Login</h3>
      </div>
      <!-- <div class="name">
        <h3>Name</h3>
      </div> -->
    </div>
    <center>
      <div align="center" class="border">
        <div class="header">
          <h1 class="word">Login</h1>
        </div>
        <form action="/login" method="post">
          <h3 class="msg">{{a}}</h3>
          <table>
            <tr>
              <th>Username:</th>
              <td>
                <input
                  id="Name"
                  name="Name"
                  type="text"
                  placeholder="Enter Your Username"
                  class="textbox"
                />
              </td>
            </tr>

            <tr>
              <th>Password:</th>
              <td>
                <input
                  id="Password"
                  name="Password"
                  type="password"
                  placeholder="Enter Your Password"
                  class="textbox"
                />
              </td>
            </tr>
          </table>

          <input type="submit" class="btn" value="Sign In" />
        </form>
        <p class="bottom">
          Don't have an account?
          <a class="bottom" href="/register"> Sign Up here</a>
        </p>
      </div>
    </center>
  </body>
</html>
