<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/profile.css" />
    <script
      src="https://kit.fontawesome.com/17041f96e9.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="shortcut icon"
      href="https://cdn-icons-png.flaticon.com/512/218/218390.png"
      type="image/x-icon"
    />
    <title>Profile</title>
  </head>
  <body>
    <div class="nav">
      <div class="logo">
        <a href="/dashboard"> <i class="fas fa-arrow-left"></i></a>
        <h3>Profile</h3>
      </div>
      <div class="name">
        <h3>{{username}}</h3>
      </div>
    </div>
    <center>
      <div class="cont" align="center">
        <div class="logo">
          <i class="fas fa-user-circle"></i>
        </div>
        <div class="profile">
          <table>
            <tr>
              <th>Name:</th>
              <td>{{username}}</td>
            </tr>
            <tr>
              <th>E-Mail:</th>
              <td>{{email}}</td>
            </tr>
            <tr>
              <th>Mobile No:</th>
              <td>{{mobileno}}</td>
            </tr>
            <tr>
              <th>Job:</th>
              <td>{{job}}</td>
            </tr>
            <tr>
              <th>Wallet Balance:</th>
              <td>{{income}}</td>
            </tr>
            <tr>
              <th>Minimum Limit</th>
              <td>{{family}}</td>
            </tr>
          </table>
          <a href="/edit">Edit/Update</a>
        </div>
      </div>
    </center>
  </body>
</html>
