<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/17041f96e9.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="shortcut icon"
      href="https://cdn-icons-png.flaticon.com/512/218/218390.png"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="/static/report.css" />
    <title>Report</title>
  </head>
  <body>
    <header class="noprint">
      <div class="nav">
        <div class="logo">
          <a href="/dashboard"> <i class="fas fa-arrow-left"></i></a>
          <h3>Report</h3>
        </div>
        <div class="name">
          <h3>{{username}}</h3>
        </div>
      </div>
    </header>
    <!-- <div class="content , noprint" align="center">
      <h3>Get Report:</h3>
      <form method="post" action="/report">
        <table>
          <tr>
            <th>From :</th>
            <td><input type="date" name="from" id="from" /></td>
          </tr>
          <tr>
            <th>Untill :</th>
            <td><input type="date" name="to" id="to" value="" /></td>
          </tr>
          <tr>
            <td>
              <button onclick="OnCheck()" ondblclick="submit" id="btnCheck">
                Get details
              </button>
            </td>
            <td>
              <button onclick="window.print()" id="btnCheck">Get Pdf</button>
            </td>
          </tr>
        </table>
      </form> -->
      <div style="border: 2px solid goldenrod"></div>
    </div>

    <div class="details">
      <div class="nav">
        <div class="logo">
          <img
            src="https://cdn-icons-png.flaticon.com/512/218/218390.png"
            alt=""
          />
          <h3>Wallet</h3>
        </div>
        <div class="name">
          <h3>Expense Report</h3>
        </div>
      </div>
      <table>
        <tr>
          <th>Name:</th>
          <td>{{username}}</td>
        </tr>
        <tr>
          <th>Mobile Number:</th>
          <td>+91 {{mobileno}}</td>
        </tr>
        <tr>
          <th>E-Mail:</th>
          <td>{{email}}</td>
        </tr>
        <tr>
          <th>Wallet Balance:</th>
          <td>{{w}}</td>
        </tr>
        <tr>
          <th>Wallet Limit:</th>
          <td>{{l}}</td>
        </tr>
        <!-- <tr>
          <th>Report Untill:</th>
          <td>{{t}}</td>
        </tr> -->
      </table>

      <table class="report">
        <tr>
          <th>Date</th>
          <th>Details</th>
          <th>Category</th>
          <th>Amount</th>
        </tr>
        {% for val in tdata %}
        <tr>
          <td>{{val['EXPENSEDATE']}}</td>
          <td>{{val['EXPENSENAME']}}</td>
          <td>{{val['CATEGORY']}}</td>
          <td>{{val['AMOUNT']}}</td>
        </tr>
        {% endfor %}
      </table>
    </div>

    <!-- script for date checking  -->

    <script>
      function OnCheck() {
        var d_Date = document.getElementById("txtDate").value.split("-");

        var txtDate = new Date(d_Date[2], d_Date[1] - 1, d_Date[0]).setHours(
          0,
          0,
          0,
          0
        );

        var currentDate = new Date().setHours(0, 0, 0, 0);

        if (txtDate - currentDate == 0) {
          alert("Equal to Current Date");
        } else if (txtDate - currentDate > 0) {
          alert("greater than the current date");
        } else if (txtDate - currentDate < 0) {
          alert("Less then the current Date");
        }
      }
    </script>
  </body>
</html>
